<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diario</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <nav class="container" id="cabeca">
        <h1>Oq sinto</h1>
    </nav>
    {% if textos %}
    <div class="container" id="corpo">
        
        <div class="container" id="texto">

            {% for textos in textos %}
            <p>{{ texto }}</p>
            {% endfor %}
        </div>
        
        {% else %}
        <p>Nenhum texto encontrado</p>
    
        {% endif %}
        
            <a href="{{ url_for('adc') }}">adicionar texto</a>
        
    </div>


    
</body>
</html>